@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

body{
    background-color: bisque
}

.titulo-pagina{
 background-color: burlywood;
  
  
}
.informacoes{
    background-color: burlywood;
    
}
.descricao{
    background-color: burlywood;
    

}
.interesses{
    background-color: burlywood;
    
}
.rodape{
    color: blue;
}
