@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
html{
    padding: 50px;
}
body{
    background-color: bisque
}

.titulo-pagina h1{
 background-color:bisque;
 color: blue;
  
  
}
.titulo-pagina img{
    width: 70px;
    height: 100px;
    




}
.informacoes{
    background-color: burlywood;
    
}
.descricao{
    background-color: burlywood;
    

}
.interesses{
    background-color: burlywood;
    
}
.rodape{
    color: blue;
    padding: 100pt;
    text-align: center;
}
#