@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

body{
    background-color: bisque
}

.titulo-pagina{
  color:blue
  font-weight: bold;
  
}
.informacoes{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
.descricao{
    color: blue;

}
.interesses{
    color:blue
}
.rodape{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
